.skill-bx {
    text-align: center;
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 5rem 0 5rem;
  }
  
  .skill-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .skill-name {
    width: 20%;
    text-align: left;
    color: #B8B8B8;
    letter-spacing: 0.8px;
  }
  
  .progress-bar {
    width: 80%;
    background-color: #B8B8B8; /* Light grey for unfilled portion */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .filled-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 15px;
    color: white;
    font-weight: bold;
    padding-right: 0.5rem;
    border-radius: 20px;
    transition: width 0.5s ease;
  }
  
  
  .percentage {
    margin-left: 0.5rem;
    font-size: small;
    color: #d7d6d6;
  }
  